
* {
     margin: 0;
     padding: 0;
     box-sizing: border-box; 
     font-family: 'Cambria', Cochin, Georgia, Times, 'Times New Roman', serif;
     color: white;
}


body {
     background-color: black;
     display: flex; 
     justify-content: center; 
     align-items: center;
     min-height: 100vh; 
     width: 100vw; 
}


.container {
     display: flex;
     flex-direction: column; 
}


.gameBoard {
     box-shadow: 0 0 15px rgba(255, 255, 255, 0.4); 
}


.msg {
     display: none; 
     font-size: 3em;
     text-align: center;
     padding: 50px;
     border: 2px solid azure;
     border-radius: 10px;
}


body h1 {
     text-align: center;
     padding: 10px 0;
     font-size: 2.5em;
      border: 2px solid white; 
}

.Homepage {
     padding: 40px;
      border: 2px solid white; 
}

